html {
    height: 100%;
    width: 100%;
    margin: 0%;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

header nav {
    display: flex;
    flex-direction: column;
    line-height: 1.2;

    padding-left: 20px;

    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
    
    min-height: 75px;
    background: #222;
    color: white;
    align-items: center;
    align-content: center;
}

main {
    flex: 1;
}

footer {
    background-color: #333;
    color: white;

    min-height: 80px;
}

footer p {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    margin: 50px 0px;
    border: 1.5px solid #333;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table.center-el {
    display: table;
    width: 70%;
    max-width: 90%;
    min-width: 20rem;
    margin: 2.5rem auto;
    table-layout: auto;
}

td, th {
    border: 1px solid #bdbdbd;
    text-align: left;
    padding: 1rem;
    font-size: large;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

a {
    text-decoration: none;
    color: black !important;
}

.custom-font {
    font-family: "Geom", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.toast {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

    background-color: rgb(255, 91, 91);
    visibility: hidden;

    position: fixed;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);

    min-height: 1.5rem;
    z-index: 5;
}

.toast p {
    padding: 0.5rem 1rem;
    color: white;
    margin: 0;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 67%;
    margin: 2.5rem auto;
    min-height: 20rem;
}

.input-container textarea {
    flex: 1;
    width: 100%;
    resize: vertical;

    border-radius: 5px 5px 0 0;
}

.input-container button {
    border-radius: 0 0 5px 5px;
    min-height: 2.5rem;
    color: #222;
    background-color: rgb(244, 255, 94);
}

.subtitle {
    margin: 0;
    font-size: 0.85rem;
    margin-bottom: 1rem;
}

.tarp-image {
    border-radius: 1rem;
    width: 20rem;
    display: block;
    margin: 0 auto;
}

.horizontal-align {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
}

.center-el {
    display: flex;
    justify-content: center;
    
}

.rights-reserved {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
}
