html {
    height: 100%;
    width: 100%;
    margin: 0%;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

header {
    min-height: 75px;
    background: #D0A74E;
    display: flex;
    align-items: center;
}

header div {
    margin-left: 20px;
}

header div img {
    height: 8%;
    width: 8%;
}

h1 {
    color: white;
    font-size: 1.65rem;
}

main {
    flex: 1;
}

footer {
    background-color: #222;
    color: white;

    min-height: 50px;
}

hr {
    margin: 50px 0px;
    border: 1px solid #333;
}

.hug-left {
    margin-left: 0px !important;
    justify-content: flex-start !important;
    padding-left: 0 !important;
}

.horizontal-align {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
}

.center-el {
    display: flex;
    justify-content: center;
    
}

.rights-reserved {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
}
