html {
    height: 100%;
    width: 100%;
    margin: 0%;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: column;
    line-height: 1.2;

    padding-left: 20px;

    padding-bottom: 0;
    padding-top: 0.5rem;
    
    min-height: auto;
    background: #171519;
    color: white;
    align-items: center;
    align-content: center;
}

main {
    flex: 1;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

nav ul a li {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 2em;
    color: white;
    margin: 0 1rem;
    padding-bottom: 0;
}

nav ul a {
    font-size: 16px;
    text-decoration: none;
}

nav ul a:hover {
  background-color: rgba(169, 169, 169, 0.7);
  color: #c7c7c7;
  text-decoration: none;
}

footer {
    background-color: #171519;
    color: white;

    min-height: 80px;
}

footer p {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    
}

td, th {
    border: 1px solid #bdbdbd;
    text-align: left;
    padding: 0.5rem 1rem;
    font-size: clamp(0.8rem, 2.5vh, 1rem);

    white-space: normal;
    word-break: break-word;
    overflow-wrap: anywhere;
}

/* td {
    font-weight: bold;
} */

tr:nth-child(even) {
    background-color: #dddddd;
}

button {
    font-weight: bolder !important;
}

a {
    /* text-decoration: none; */
    color: black !important;
}

/* h3.custom-font button.custom-font {
    font-weight: bold;
} */

td i {
    margin-right: 1rem;
}

table.skip {
    margin-top: 0px !important;
}

p.light-text {
    color: white;
    display: flex;
    margin: auto;

    padding: 0.5rem 0;

    align-items: center;
    justify-content: right;
    text-align: right;
}

.title-table {
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.table-header {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    background: linear-gradient(0deg, #312d3c, #948da8);
    color: white;
}

.form-container button {
    border-radius: 5px;
    background: linear-gradient(0deg, #f0ff23, #faffb2);
    height: 2.5rem;
    width: 6rem;

    margin: 2rem auto;
    border: #222;
}
.table-table {
    width: 100%;
}

.mini-input-container {
    margin: 1.5rem auto;
}

/* .mini-input-container input {
    width: 100%;
    height: 2.25rem;
} */

.mini-input-container hr {
    margin-top: 0px !important;
}

.a-logs {
    display: flex;
    margin: auto;

    align-items: center;
    justify-content: right;
    text-align: right;
    width: 85%;
}

.default-divider {
    width: 100%;
    margin: 1rem 0;
    border: 1px solid rgba(23, 21, 25, 0.2);
}

.dark-divider {
    margin: 1rem 0px;
    width: 80%;
    border: 1px solid #494949;
}

.light-divider {
    margin: 1rem 0;
    border: 1px solid rgba(23, 21, 25, 0.5);
}

.light-text {
    font-weight: lighter !important;
    color: #171519;
}

.caption {
    font-weight: normal !important;
}

.form-container {
    width: 50%;
    height: 25rem;

    background-color: white;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 15px;

    background: linear-gradient(0deg, #8e4da1, #ecb4ff) ;
}

.background {
    position: fixed;
    inset: 0;
    z-index: -1;

    background-size: cover;
    background-image: url("images/assets/Background.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.banner {
    background-size: cover;
    background-image: url("images/assets/Banner.png");
    background-repeat: no-repeat;
    position: relative;
    background-position: top;
    height: 16rem;
}

@media (max-width: 700px) {


    nav {
        padding-top: 0.5rem;
        padding-left: 0;
        min-height: auto;
    }

    nav h1 {
        font-size: 1.25rem;
    }

    .form-container {
        width: 80%;
    }

    .banner {
        height: 8rem;
    }

    .subtitle {
        font-size: 0.75rem;
        margin-bottom: 0.5rem;
    }

    .dark-divider {
        margin: 0.5rem 0;
        width: 60%;
    }

        nav ul {
        margin-top: 0.25rem;
    }

    nav ul a li {
        height: 1.75em;
        font-size: 0.9rem;
    }
}

.banner::after {
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}

.custom-font {
    font-family: "Geom", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.toast {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

    background-color: rgb(255, 91, 91);
    visibility: hidden;

    position: fixed;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);

    min-height: 1.5rem;
    z-index: 5;
}

.toast p {
    padding: 0.5rem 1rem;
    color: white;
    margin: 0;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 2.5rem auto;
    min-height: 12rem;
}

.input-container textarea {
    flex: 1;
    width: 100%;
    resize: vertical;

    border-radius: 5px 5px 0 0;
}

.input-container button {
    border-radius: 0 0 5px 5px;
    min-height: 2.5rem;
    color: #222;
    background: linear-gradient(0deg, #f0ff23, #faffb2);
}

.subtitle {
    margin: 0;
    font-size: 0.85rem;
    margin-bottom: 1rem;
}

.tarp-image {
    border-radius: 1rem;
    width: 20rem;
    display: block;
    margin: 0 auto;
}

.horizontal-align {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
}

.center-el {
    display: flex;
    justify-content: center;
    
}

.rights-reserved {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
}
